body{
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 0px;
    background-color: rgba(158, 128, 128, 0.225);
    
    
    
   
}
#root{
    width: 100%;
   
    background-color: white;
  
}

.Reject{
    height: 800px;
    max-width: 500px;
    
    display: flex;
    flex-direction: column;
}
.Header{
    flex: 1.2;
    display: flex;
    border-bottom:1px solid rgb(155, 153, 153) ;
    flex-direction: row;
    
}
.Text{
     flex: 3;
    display: flex;
    margin: 10px 10px;
    flex-direction: column;
    gap:4px;
    justify-content: center;
    align-items: start;
    
}
.Text p{
    display: flex;
    color: black;
    font-weight: lighter;
    font-weight: bold;
    font-size: 150%;
    margin: 0px;
}
.Text a{
    display: flex;
    color: black;
    font-weight: lighter;
    
    font-size: 135%;
    margin: 0px;
}
.icon{
     flex: 1;
    display: flex;
   
   justify-content: center;
    align-items: center;
    
}
.icon p{
    display: flex;
    color: black;
    font-weight: lighter;
    font-weight: bold;
    font-size: 250%;
    margin: 0px;
    color: gray;
}
.icon p:hover{
    color: blue;
}
.Second1{
    flex: 1.2;
    display: flex;
   border-bottom:1px solid #e2dbdb ;
    flex-direction: row;
   
    justify-content: center;
    align-items: center;
    
}
.Second1 button{
    width:60%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgba(210, 231, 240, 0.489);
    font-size: 120%;
    color: grey;
    
}
.Second1 button:hover{
    background-color: #cf1616;
    scale: 1.1;
    color: white;
}

.Middal1{
    flex: 10;
    display: flex;
    
    flex-direction: column;
    background-color: #828f951b;
   
}
.RejectMoviesheader1{
    flex: 1;
    display: flex;
    
    flex-direction: column;
    margin: 0px 13px;
    
   
    
}
.RejectMoviesheader1 p{
   
  font-size: 150%;
  font-weight: bold;
  background: linear-gradient(to right, red, orange, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.line{
    margin: 0px;
  height: 4px;
  width: 50%;
  background: linear-gradient(to right, red, orange, yellow);
  border-radius: 5px;

}


.imagesummary1{
    flex: 13;
    display: grid;
    
   margin: 20px 0px 0px 0px ;
   
    flex-direction: column;
    
    gap:10px
    
}
.image1{
    flex: 1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .1);
    background-color: white;
    border: 20px;
    border-radius: 15px;
}

.image1:hover{
     box-shadow: 0 30px 60px rgba(255, 77, 77, .2);
     border: 1px solid rgba(255, 77, 77, .3);
    
}
@media (min-width: 320px) {
    .imagesummary1{
        grid-template-columns:repeat(2,1fr);
    }
}

@media (min-width: 768px) {
    .imagesummary1 {
        grid-template-columns:repeat(3,1fr)
    }
}

@media (min-width: 1024px) {
    .imagesummary1{
        grid-template-columns:repeat(4,1fr)
    }
}
.image11{
    flex: 2;
    display: flex;
   
    margin:0px 0px 00px 0px;
    border-radius: 30px 30px 0px 0px;
    justify-content: center;
    align-items: center;
}
.image11 img{
    height: 100%;
    width: 100%;
     display: flex;
     border-radius: 15px;
         box-shadow: 0 12px 28px rgba(0, 0, 0, .25);
         object-fit: cover;
}
.image11 img:hover{
    
     transform: translateY(10.74539px) rotate(1.8deg);
     
     
    
}


.movie11{
    flex: 3;
    display: flex;
     margin:0px 15px;
     flex-direction: column;
     gap:30px
     
    
}
.movie11 p{
    display: flex;
    color:black;
    font-weight: lighter;
    font-size: 150%;
    font-weight: bold;
    flex-direction: column;
    gap:10px

}

.line1{
    
margin: 0px 0px 0px 0px;
  height: 4px;
  width: 25%;
  background: linear-gradient(to right, red, orange, yellow);
  border-radius: 5px;

}

.movie11 a{
     display: flex;
    color: #201e1e;
    font-weight: lighter;
    font-size: 130%;
}

#date11 {
    display: flex;
    color: grey;
    font-weight: bold;
    font-size: 120%;
    margin:0px 0px 20px 0px;
    
}


.Last1{
    flex: 1;
    display: flex;
    background-color: rgba(210, 231, 240, 0.489);
    justify-content:end;
    align-items: center;
    
}
.Last1 button{
    position: fixed;
    width: 15%;
  height: 8%;
  bottom: 30px;
  right: 30px;
  background: linear-gradient(45deg, orange, red);
  border: none;
  color: white;
  font-size: 25px;
  transform: translateY(-1.74539px) rotate(0.872696deg);
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(255, 77, 77, .4);
  animation: float 3s ease-in-out infinite;
 
}

    

